<!DOCTYPE html>
<html>
    <title>
    {{title}}
    </title>
    <head>
        <meta property="og:title" content="{{og_title}}">
        <meta property="og:site_name" content="{{og_site_name}}">
        <meta property="og:url" content="{{og_url}}">
        <meta property="og:description" content="{{og_description}}">
        <meta property="og:image" content="{{og_image}}">
        <meta name="author" content="{{og_author}}">
        <meta charset="{{charset}}">
        <meta name="viewport" content="{{viewport}}">
        <link rel="shortcut icon" href="{{shortcut_icon}}">
        {{#each stylesheets}}
        <link rel="stylesheet" href="{{this}}">
        {{/each}}
        {{#each scripts}}
        <script src="{{this}}"></script>
        {{/each}}
    </head>
    <body>
        <div class="row">
            <div class="usage-page">
                <div class="wrapper">
                    <header id="header">
                        <nav id="navigation" role="navigation">
                            <div class="wrapper">
                                <a href="./" class="logo"><h3>{{title}}</h3></a>
                            </div>
                        </nav>
                    </header>
                    <div class="sidebar hidden-xs">
                        {{#each nav}}
                        <ul>
                            <li class="title">
                                <a href="#{{anchor}}">
                                    {{title}}
                                </a>
                            </li>
                            {{#each sub}}
                            <li class="nav-sub">
                                <a href="#{{anchor}}">
                                    {{title}}
                                </a>
                            </li>
                            {{/each}}
                        </ul>
                        {{/each}}
                    </div>
                    <main>
                    <div class="block" id="start">
                        <h3 class="section-title">主持人開場</h3>
                        <p>{{start}}</p>
                    </div>
                    <div class="intro">
                        {{#each intro}}
                        <div class="block" id="{{anchor}}">
                            <h3 class="section-title">{{who}}申論</h3>
                            <p>{{content}}</p>
                        </div>
                        {{/each}}
                    </div>
                    <div class="qanda" id="qanda">
                        <h3 class="section-title">公民團體提問</h3>
                        <ul>
                        {{#each qanda}}
                            <li style="list-style-type: decimal;">
                                <div class="block" id="{{anchor}}">
                                    <h4 class="section-subtitle">{{q.who}}</h4>
                                    <p class="q-tag">Q:</p> <p>{{q.content}}</p>
                                    <hr>
                                    <p class="q-tag">A:</p>
                                    <h4 class="section-answer">柯文哲 回答</h4>
                                    {{#each ans.kp}}<p>{{ this }}</p>{{/each}}
                                    <h4 class="section-answer">連勝文 回答</h4>
                                    {{#each ans.sean}}<p>{{ this }}</p>{{/each}}
                                </div>
                            </li>
                        {{/each}}
                        </ul>
                    </div>
                    <div class="cross">
                        {{#each cross}}
                            <div id="{{anchor}}">
                                <h3 class="section-title">{{title}}</h3>
                                {{#each conversation}}
                                <div>
                                    <h4 class="section-answer">{{who}}</h4>
                                    {{#each content}}<p>{{ this }}</p>{{/each}}
                                </div>
                                {{/each}}
                            </div>
                        {{/each}}
                    </div>
                    <div class="conclusion"  id="conclusion">
                        <h3 class="section-title">結論</h3>
                        {{#each conclusion}}
                        <div class="block"  id="{{anchor}}">
                            <h4 class="section-answer">{{who}}</h4>
                            {{#each content}}<p>{{ this }}</p>{{/each}}
                        </div>
                        {{/each}}
                    </div>
                    </main>
                </div>
                <footer>
                    <div class="copyright">2014 Data Garage, this document is generate by Docgr!</div>
                </footer>
            </div>
        </div>
        <script>
        var offset = $(".sidebar").offset();
        var topPadding = 50;
        $(window).scroll(function() {
        if ($(window).scrollTop() > offset.top) {
        $(".sidebar").css("margin-top", $(window).scrollTop() - offset.top + topPadding);
        } else {
        $(".sidebar").css("margin-top", 20);
        };
        });
        </script>
        <script>hljs.initHighlightingOnLoad();</script>
    </body>
</html>